@charset "UTF-8";
/* line 4, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 12, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.container {
  margin: 0 auto;
  max-width: 1140px;
}

/* line 16, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.header {
  position: relative;
  height: 50px;
  background-color: #212121;
}

/* line 21, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.menu {
  display: flex;
  margin: 0;
  padding: 13px 70px;
  list-style: none;
  justify-content: space-between;
}

/* line 28, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.menu-link {
  color: #ffffff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
}

/* line 38, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.menu-item {
  border-right: 2px dotted black;
  padding-right: 30px;
}

/* line 42, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6);
}

/* line 48, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.subheader-logo {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}

/* line 53, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.logo-desc {
  opacity: 0.5;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 100;
  margin-top: 6px;
}

/* line 60, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.subheader-call {
  margin-top: 19px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  text-align: right;
}

/* line 68, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.subheader-phone {
  color: #ffffff;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* line 76, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.subheader-btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/* line 91, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.promo {
  min-height: 800px;
  padding: 150px 0 150px 0;
  background: url("../img/main.bg.jpg") center/cover no-repeat;
}

/* line 96, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.promo-header {
  color: #ffffff;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* line 104, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.promo-subheader {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

/* line 111, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.promo-descr {
  margin-top: 23px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
}

/* line 122, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.promo-btn {
  display: block;
  margin: 118px auto 0 auto;
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  color: #ffffff;
}

/* Section WORK-WITH */
/* line 135, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.work-with {
  height: 765px;
  padding: 0;
}

/* line 139, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.label {
  width: 112px;
  height: 24px;
  margin: 0 auto;
  margin-top: 71px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

/* line 152, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.title {
  margin-top: 38px;
  color: #222222;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

/* line 162, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.subtitle {
  color: #222222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: center;
  margin-top: 19px;
}

/* line 173, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.white-label {
  background-color: #ffffff;
  color: black;
}

/* line 177, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.title-white {
  color: #ffffff;
}

/* line 180, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.subtitle-white {
  color: #ffffff;
}

/* line 183, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.work-rowcontainer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 189, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.work-round {
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* line 199, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.work-item {
  text-align: justify;
  width: 341px;
  height: 141px;
  font-size: 15px;
  font-weight: 300;
}

/* line 205, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.work-item span {
  color: #1eacc7;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
}

/* line 211, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg-mobile-app.jpg");
}

/* line 215, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile .row {
  margin-top: 32px;
}

/* line 217, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item {
  width: 320px;
  height: 280px;
  margin: 0 auto;
  margin-bottom: 19px;
  padding-top: 91px;
  position: relative;
}

/* line 224, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-1 {
  background: url("../img/mobile-app-item/1.jpg") center center/cover no-repeat;
}

/* line 226, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-2 {
  background: url("../img/mobile-app-item/2.jpg") center center/cover no-repeat;
}

/* line 228, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-3 {
  background: url("../img/mobile-app-item/3.jpg") center center/cover no-repeat;
}

/* line 230, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-4 {
  background: url("../img/mobile-app-item/4.jpg") center center/cover no-repeat;
}

/* line 232, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-5 {
  background: url("../img/mobile-app-item/5.jpg") center center/cover no-repeat;
}

/* line 234, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-6 {
  background: url("../img/mobile-app-item/6.jpg") center center/cover no-repeat;
}

/* line 236, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-subtitle {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
}

/* line 244, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-plus {
  width: 26px;
  height: 26px;
  background-color: #000000;
  margin: 0 auto;
  border-radius: 100%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translatex(-50%);
  cursor: pointer;
}

/* line 259, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-plus::before {
  content: '';
  display: block;
  width: 14px;
  height: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

/* line 266, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-plus::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 14px;
  width: 2px;
  background-color: #1eacc7;
  transition: 0.3s all;
}

/* line 277, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.mobile-item-plus:hover::before, .mobile-item-plus:hover::after {
  background-color: #ff5656;
}

/* line 280, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.choise {
  position: relative;
  height: 895px;
  padding: 53px 0 138px 0;
  position: relative;
  background: url("../img/bg-mobile-app.jpg") center center/cover no-repeat;
}

/* line 286, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.choise-black {
  position: absolute;
  top: 0;
  left: 0;
  height: 499px;
  width: 100%;
  background-color: #070716;
  z-index: 1;
}

/* line 294, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.choise img {
  position: relative;
  display: block;
  margin: 220px auto 0 auto;
  z-index: 2;
}

/* line 299, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.choise-descr {
  color: #222222;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
}

/* line 309, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require {
  padding: 68px 0 84px 0;
}

/* line 311, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require-block {
  margin: 33px 0;
}

/* line 313, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require-block-nmb {
  margin-bottom: 0px;
}

/* line 315, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require-title {
  margin-top: 33px;
  color: #1ca8c3;
  font-size: 22px;
  font-weight: 400;
}

/* line 320, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require-list {
  margin-top: 22px;
  list-style-type: none;
  padding-inline-start: 50px;
  font-weight: 300;
  font-size: 17px;
}

/* line 326, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require-item {
  margin-bottom: 10px;
  position: relative;
}

/* line 329, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require-item::before {
  content: '';
  display: block;
  position: absolute;
  left: -32px;
  top: 3px;
  width: 21px;
  height: 20px;
  background: url("../icons/check-blue.png") center center/cover no-repeat;
  color: #1ca8c3;
}

/* line 339, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require-after {
  color: #1ca8c3;
  font-weight: 400;
}

/* line 343, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require .warning .require-title {
  color: #ff5656;
}

/* line 347, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.require .warning .require-list li::before {
  background: url("../icons/check-red.png") center center/cover no-repeat;
}

/* line 350, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.world {
  height: 717px;
  background-color: #080816;
}

/* line 353, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.world .container {
  padding: 49px 0;
  height: 100%;
  background: url("../img/bg-world.jpg") center center/cover no-repeat;
}

/* line 358, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.world .container .white-label {
  width: 76px;
  height: 24px;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
}

/* line 364, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.world .container .title-white {
  margin-top: 32px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

/* line 375, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.world .container .subtitle-white {
  margin-top: 20px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 21px;
  text-align: center;
}

/* line 385, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.world .container a {
  display: block;
  margin: 0 auto;
  margin-top: 470px;
  font-size: 14px;
  color: #1eacc7;
  text-align: center;
  text-transform: uppercase;
}

/* line 394, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.footer {
  min-height: 147px;
  padding: 14px 0 39px 0;
}

/* line 397, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.footer .divider {
  width: 299px;
  border-bottom: 4px solid #1eacc7;
  margin: 0 auto;
}

/* line 401, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.footer .title {
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

/* line 406, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.footer .title a {
  color: #070716;
  margin: 0 24px 0 24px;
  margin-top: 32px;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 300;
  padding: 0;
}

/* line 414, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.footer .subtitle {
  margin: 0 auto;
}

/* line 416, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.footer .subtitle a {
  color: #999999;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  margin: 0 11px 0 11px;
}

/* line 426, ../../../../../../Users/AP/Desktop/edu/html.css/Иван.Петреченко/project2/sass/style.sass */
.footer .lang a {
  display: block;
  margin-top: 19px;
  color: #1fbad6;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */